@font-face {
    font-family: SourceSansPro-Regular; /* Имя шрифта */
    src: url(../../fonts/SourceSansPro-Regular.ttf); /* Путь к файлу со шрифтом */
   }


   
   body {
    font-family: SourceSansPro-Regular;
    background-color: rgb(179, 224, 241);
    background-image: url(../../files/img/fon2.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   }


   .profile-menu {
    list-style: none;
    float: right;
    margin-top: 33px;
    margin-right: 20px;
    padding-bottom: 100px;
  }

  .submenu {
    list-style: none;
    padding: 0;
    border: 1px solid rgb(47, 0, 255);
    background: rgb(69, 115, 201);
    margin-top: 25;
    box-shadow: 2px 2px 5px rgb(47, 0, 255);
    position: absolute;
    right: 10px;
    display: none;
    margin-right:17;
  }

  .submenu a {
    text-decoration: none;
    display: block;
    padding: 10px 30px;
    color: rgb(0, 0, 0);
    text-shadow: none;
    font-weight: 700;
    
  }

  .profile-menu-trigger {
    text-decoration: none;
    display: block;
    padding: 10px 30px;
    color: rgb(0, 0, 0);
    text-shadow: none;
    font-weight: 700;
    border: 1px solid rgb(47, 0, 255);
    background: rgb(69, 115, 201);
    box-shadow: 2px 2px 5px rgb(0, 0, 0, .3);
    margin-right:17;
  }


  .submenu a:hover {
    background: rgb(175, 199, 243);
  }

  .profile-menu-trigger:hover {
    background: rgb(175, 199, 243);
  }

  .submenu.active {
    display: block;
  }

  #orgi{
    
    font-weight: 700;
    font-size: 60px;
    line-height: 1.2;
    color: rgb(21, 89, 216);
    text-shadow: 1px 1px 1px #000;
    padding-top: 10;
    padding-left: 250;
    margin-bottom: 50;
  }


  
  .textinput {
	border: 1px solid rgb(47, 0, 255);
	height: 400px;
	padding: 0 15px;
	font-size: 18px;
	width: 800px;
	margin: 0 0 10px 0;
    margin-left: 50;
}

   .textinput:focus {
	box-shadow: 0 0 10px rgb(175, 199, 243);
    
}

.textinput:hover {
	box-shadow: 0 0 10px rgb(175, 199, 243);
}

.textbutton {
    display: block;
    width: 300px;
    height: 30px;
    background-color: rgb(47, 0, 255);
    font-size: 18px;
    color: rgb(175, 199, 243);
    text-transform: uppercase;
    margin: 0 0 30px 0;
    margin-left: 50;
}

.textbutton:hover {
    background-color: rgb(28, 86, 194);
    color: rgb(0, 0, 0);
}

.textbutton:active {
    background-color: #eee;
    
}